.App {
  background-image: url("./resources/background/wood-background.jpg");
  background-position: center top;
  background-color: black;
}

.container {
  width: 98%;
  margin: 0 auto;
  max-width: 600px;
  height: 3854px;
}

.image-stack {
  display: grid;
  position: relative;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(33, 3%);
  rotate: z 1deg;
}

/* Trick Title */
.image-stack__item-level-4 {
  z-index: 4;
  grid-row: 25 / span 3;
  grid-column: 3 / span 7;
}

/* Photo Filter */
.image-stack__item-level-3 {
  z-index: 3;
  grid-row: 4 / span 5;
  grid-column: 2 / span 8;
}

/* Polaroid Frame */
.image-stack__item-level-2 {
  z-index: 2;
  grid-row: 8 / span 18;
  grid-column: 3 / span 6;
  margin: 0% 2% 2% 0%;
}

/* Trick JPG & GIF */
.image-stack__item-level-1 {
  z-index: 1;
  grid-row: 4;
  grid-column: 2 / span 8;
}

.photoFilter {
  background: #cc9900;
  opacity: 0.15;
  }
  
.trickTitle {
  margin: 0;
  rotate: z -1deg;
}

.trickNotes {
  background-color: bisque;
}

img {
  width: 100%;
  display: block;
  position: relative;
}

@font-face {
  font-family: 'Impact Label';
  font-style: normal;
  font-weight: normal;
  src: local('Impact Label'), url('./resources/fonts/Impact_label.woff') format('woff');
  }