body {
  margin: 0;
  background-color: black;
}

.App {
  background-image: url("./resources/backgrounds/wood-background.jpg");
  background-position: center top;
  background-repeat: repeat-y;
}

.container {
  width: 97%;
  margin: 0 auto;
  max-width: 390px;
}

.image-stack {
  display: grid;
  position: relative;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(38, 20px);
  rotate: z 1deg;
}

.stack-2-polaroid-frame {
  z-index: 2;
  grid-row: 1;
  grid-column: 1 / span 9;
  margin: 0% 0% 0% 0.5%;
}

.stack-1-trick-still-and-demo {
  z-index: 1;
  grid-row: 1;
  grid-column: 1 / span 9;
  width: 75%;
  margin: 13% 8% 13% 13.5%;
}

.stack-3-trick-label {
  z-index: 3;
  grid-row: 11;
  grid-column: 2 / span 7;
  margin: 7% 0% 0% 7%;
}

.stack-3-trick-source {
  z-index: 3;
  grid-row: 6;
  grid-column: 8 / span 2;
  margin: 7% 0% 0% 11%;
  writing-mode: vertical-rl;
}

.stack-4-note-text {
  z-index: 4;
  grid-row: 16;
  grid-column: 1 / span 8;
  margin: 5% 2% 0% 12%;
}

.stack-3-note-background {
  z-index: 3;
  grid-row: 16;
  grid-column: 1 / span 9;
}

.note-6 {
  margin: 7% 2% 0% 17%;
}

.note-7 {
  margin: 7% 2% 0% 12%;
}

.note-8 {
  margin: 9% 2% 0% 11.2%;
}

.note-9 {
  margin: 4% 2% 0% 14%;
}

.note-11 {
  margin: 9% 2% 0% 17%;
}

img {
  width: 100%;
  display: block;
  position: relative;
}

.trickLabel {
  rotate: z -1deg;
}

.trickSource {
  rotate: z -90deg;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: hotpink;
}

a:active {
  color: hotpink;
}

@font-face {
  font-family: "Impact Label";
  font-style: normal;
  font-weight: normal;
  src: local("Impact Label"),
    url("./resources/fonts/impact-label.woff") format("woff");
}

@font-face {
  font-family: "JMH Typewriter dry Bold";
  font-style: normal;
  font-weight: normal;
  src: local("JMH Typewriter dry Bold"),
    url("./resources/fonts/jmh-typewriter-dry-bold.woff") format("woff");
}
